.input-busca {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  width: 80%;
  max-width: 500px;
  background-color: #1a1a1a;
  color: white;
  box-shadow: 0 0 5px black;
}

.input-busca:focus {
  outline: none;
  background-color: #333;
}

.formulario{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}