footer{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-green2);
    color: white;

    box-shadow: 1px 1px 4px 1px var(--color-black1);
    border-top: 1px solid var(--color-black2);
}

.left{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 2vw;
}

.center{
    display: flex;
    flex-grow: 3;
    justify-content:space-around;
}
.right{
    display: flex;
    flex-grow: 2;
    align-items: flex-end;
    flex-direction: column;
    gap: 3vw;
    justify-content: center;
    margin-right: 2vw;
}

p{
    color: white;
    
}

.right a{
    color: white;
}