header {
  background-color: var(--color-green2);
  color: white;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2vw;
    flex: 1;
    height: 100%;
}
